body {
    background-color: black;
}


h1 {
    color: white;
}

.ball {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: rgb(49, 162, 203);
    border-radius: 50%;
    margin: auto;
    font-size: 22px;
    font-weight: bold;
    transition: 1s;
}